configuration {
  modes: [ combi ];
  combi-modes: [ window, drun, run ];
  display-ssh:    "";
  display-run:    "";
  display-drun:   "";
  display-window: "";
  display-combi:  "";
  show-icons:     true;
}

@theme "~/.config/rofi/gruvbox.rasi"
